dist/build-stats.json
node_modules
.cache
.env
src/lib/gramjs/build/
build-contest/
tests/
.idea
*.iml
dev/perf/screenshot*
.DS_store
.github/workflows/*
!.github/workflows/package-and-publish.yml
.package-lock.json
data.txt
js.js
json2.json
core.accounts.json
/core.accounts.json
ai.js
checkGeo.js
/*.xlsx
/*.json
/*.txt
/*.py
